body {
  font-family: "Lora", serif;
  text-align: center;
  margin: 0 auto;
}

h3 {
  display: block;
  border: solid, transparent;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 20px;
  font-style: italic;
  background: rgb(144, 215, 143);
  color: #000;
  width: 12%;
}

p {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-top: 20px;
  padding-right: 350px;
}

.card {
  font-family: "Lora", serif;
  border: none;
  position: float;
  left: 1000px;
  bottom: 250px;
}

.card-img-top {
  max-width: 300px;
  max-height: 300px;
}

.col {
  background: rgb(144, 215, 143);
  font-size: 16px;
  margin-top: 130px;
  margin-bottom: 20px;
  margin-left: 75px;
  margin-right: 75px;
  border: none;
  box-shadow: 0px 5px 10px 0px rgb(104, 169, 104);
  border-radius: 20px;
}

.col:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgb(176, 216, 176);
  transition: all 200ms ease-in-out;
}

.city {
  font-weight: 500px;
  font-size: 60px;
  margin-bottom: 3;
  margin-top: -20px;
}

.icon {
  font-size: 25px;
}

.music {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: -10px;
}

.music-2 {
  text-align: center;
  margin-top: 10px;
  font-style: italic;
}

.music-img {
  width: 70px;
  height: 70px;
  display: block;
  margin: 0 auto;
  margin-top: -275px;
}

.music-img:hover {
  cursor: pointer;
}

.music-text {
  text-align: center;
  margin-bottom: 10px;
}

.music-img-2 {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
}

.music-img-2:hover {
  cursor: pointer;
}

.search {
  display: inline-block;
  margin: 0 auto;
  margin-top: 12px;
  text-align: center;
  border: solid 1px rgb(144, 215, 143);
  border-radius: 10px;
  padding: 5px;
}

.submit-button {
  border: solid 1px rgb(144, 215, 143);
  background: rgb(144, 215, 143);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 30px;
  display: inline-block;
}

.submit-button:hover {
  background-color: rgb(247, 242, 195);
  color: #000;
  transition: all 200ms ease-in-out;
  border-color: #000;
}

.subtext1 {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 0;
}

.subtext2 {
  margin: 0 auto;
  background: rgb(247, 242, 195);
  color: #000;
  border: solid, transparent;
  border-radius: 20px;
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
  width: 10%;
}

.temps {
  margin: 0 auto;
  margin-top: -20px;
  color: #000;
  font-weight: bold;
}
.weather {
  font-size: 60px;
}

#description {
  margin: 0 auto;
  text-transform: capitalize;
  font-weight: bold;
  font-style: italic;
  border: solid, transparent;
  border-radius: 20px;
  background: rgb(247, 242, 195);
  color: #000;
  width: 100%;
}

#location-dot {
  border: solid 1px rgb(144, 215, 143);
  background: rgb(144, 215, 143);
  border-radius: 10px;
  padding: 5px;
  display: inline-block;
  margin: 0 auto;
}

#location-dot:hover {
  background-color: rgb(247, 242, 195);
  color: #000;
  transition: all 200ms ease-in-out;
  border-color: #000;
}

#temp {
  font-size: 60px;
  color: rgb(144, 215, 143);
  font-weight: bold;
}

#temp-details {
  font-size: 60px;
  color: rgb(144, 215, 143);
  font-weight: bold;
}
