body {
  font-family: "Lora", serif;
  text-align: center;
  margin: 0 auto;
  background: #2a2929;
}

h3 {
  display: block;
  border: solid, transparent;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 2px;
  font-size: 16px;
  font-style: italic;
  color: rgb(247, 242, 195);
  width: 30%;
}

p {
  display: block;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  margin-top: 80px;
  padding-right: 350px;
}

.bottom-link {
  text-decoration: none;
  color: #fc733d;
  font-weight: bold;
  text-decoration: none;
  font-size: 11px;
}

#col {
  color: rgb(247, 242, 195);
  font-size: 14px;
  margin: 0, auto;
  margin-left: 10px;
  margin-top: 1px;
  margin-bottom: 12px;
  border: none;
  box-shadow: 0px 5px 5px 0px rgb(247, 242, 195);
  border-radius: 20px;
}

.col:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0px 5px 8px 2px rgb(247, 242, 195);
  transition: all 200ms ease-in-out;
}

.city {
  font-weight: 500px;
  font-size: 40px;
  margin-bottom: 1px;
  margin-top: -20px;
}

.details {
  font-size: 16px;
}

.headphones {
  margin-bottom: 50px;
}

.icon {
  font-size: 25px;
}

.link {
  font-size: 10px;
  color: rgb(247, 242, 195);
  margin-bottom: 10px;
}

.music {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.music-text {
  text-align: center;
  font-size: 14px;
}

.search {
  display: inline-block;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  border: solid 1px #9a405b;
  border-radius: 8px;
  padding: 0px;
  width: 50%;
  box-decoration-break: slice;
}

.submit-button {
  border: solid 1px #f47f44;
  background: #f47f44;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 20px;
  display: inline-block;
}

.submit-button:hover {
  background-color: rgb(247, 242, 195);
  color: #000;
  transition: all 200ms ease-in-out;
  border-color: rgb(247, 242, 195);
}

.subtext2 {
  margin: 0 auto;
  margin-bottom: 12px;
  background: rgb(247, 242, 195);
  color: #000;
  border: solid, transparent;
  border-radius: 20px;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  width: 35%;
}

.weather-forecast-temperatures {
  margin: 0 auto;
  color: #fdc500;
  font-size: 12px;
}

.weather-forecast-temperature-max {
  font-weight: bold;
  color: #f47f44;
  font-size: 12px;
}

.weather {
  font-size: 60px;
}

#celsius-link {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

#celsius-link:hover {
  color: rgb(247, 242, 195);
  cursor: pointer;
}

#description {
  margin: 0 auto;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  color: rgb(247, 242, 195);
}

#fahrenheit-link {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

#fahrenheit-link:hover {
  color: rgb(247, 242, 195);
  cursor: pointer;
}

#humidity {
  color: rgb(247, 242, 195);
  font-size: 16px;
}

#location-dot {
  border: solid 1px #f47f44;
  background: #f47f44;
  border-radius: 10px;
  padding: 5px;
  display: inline-block;
  margin: 0 auto;
}

#location-dot:hover {
  background-color: rgb(247, 242, 195);
  color: #000;
  transition: all 200ms ease-in-out;
  border-color: rgb(247, 242, 195);
}

#main-icon {
  max-width: 110px;
  max-height: 110px;
  margin: 0 auto;
}

#playlist {
  height: 95px;
}

#temp {
  font-size: 45px;
  color: #fc733d;
  font-weight: bold;
  margin-left: 65px;
}

#temp-details {
  font-size: 40px;
  color: #f47f44;
  font-weight: bold;
}

#units {
  display: inline-block;
  top: -10px;
}

#weather-app {
  background: #9a405b;
  border: solid 1px#9a405b;
  border-radius: 40px;
  max-width: fit-content;
}

#windspeed {
  color: rgb(247, 242, 195);
  font-size: 16px;
}
